*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

header{
    width: 100%;
    color: rebeccapurple;
    text-align: center;
<<<<<<< HEAD
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    color: red;
=======
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
>>>>>>> main
}