*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

header{
    width: 100%;
    color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.new_p{
    display: flex;
    text-align: center;
    justify-content: center;
}